.box {
	width: 150px;
	height: 150px;
	border: 2px solid #ff1493;
	float: left;
	white-space: nowrap;
}

.box:hover {
background-color: #ff1493;

}

#main {
width: 500px;
height: 500px;
background-color: none;
float: left;
text-align: center;
border: 3px #ff1493;
position: relative;
left: 150px;
bottom: -50px;
color: #ff1493;
font-size: 30px;
white-space: nowrap;
}

.clear {
clear: both;
}



.button {
	background-color: #ff1493;
	float: right;
	color: white;
	position: absolute;
	right: 150px;
	bottom: 150px;
	border-radius: 10px;
	width: 200px;
	height: 60px;
	margin-left: 1000px;

}

.background  {
	background-image: url("sheride.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	white-space: nowrap;
}

img {
	width: 150px;
	height: 150px;
}

#winner {
color: black;
font-size: 60px;
float: right;
position: relative;
left: -150px;
bottom: -80px;
-webkit-left: -150px;
-webkit-bottom: -80px;
-moz-left: -100px;
-moz-bottom: -80px;
-o-left: -150px;
-o-bottom: -80px;
}

h2 {
	color: #ff1493;
	font-size: 50px;
	text-align: center;

}


