.box {
	width: 150px;
	height: 150px;
	border: 2px solid #ff1493;
	float: left;
	white-space: nowrap;
}

.box:hover {
background-color: #ff1493;

}

#main {
width: 500px;
height: 500px;
background-color: none;
float: left;
text-align: center;
border: 3px #ff1493;
position: relative;
left: 150px;
bottom: 100px;
color: #ff1493;
font-size: 30px;
white-space: nowrap;
}

.clear {
clear: both;
}

.reset {
border: red;
}

.button {
	background-color: #ff1493;
	float: right;
	color: white;
	position: absolute;
	right: 150px;
	bottom: 150px;
	border-radius: 10px;
	width: 200px;
	height: 60px;
	margin-left: 1000px;
		 
	
}

.background  {
	background-image: url("sheride.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	white-space: nowrap;
}

img {
	width: 150px;
	height: 150px;
}

#winner {
color: black;
font-size: 40px;
float: right;
position: relative;
left: 600px;
}

h2 {
	color: #ff1493;
	font-size: 50px;
	text-align: center;

}




@media (max-width: 800px) {
       /* Smaller Resolution Desktops and Laptops */
       
}
@media (max-width: 650px) {
       /* Smaller devices */
       
}
@media (max-width: 450px) {
       /* Even Smaller devices */
       
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
       /* Even Smaller devices */
       
}

